html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  //font-size: 62.5%;
  //@include breakpoint( map-get($vui-breakpoints-min, 's') ) {
  //  font-size: 78.125%;
  //}
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior;
     see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

* {
  outline: none !important;
}

body {
  background: map-get($vui-core, 'vui-bg-color');
  color: map-get($vui-core, 'vui-font-color');
  cursor: map-get($vui-core, 'vui-cursor-auto-value');
  font-family: map-get($vui-core, 'vui-font-family-sans-serif');
  font-style: map-get($vui-core, 'vui-font-style');
  font-weight: map-get($vui-core, 'vui-font-weight');
  line-height: map-get($vui-core, 'vui-line-height');
  margin: map-get($vui-core, 'vui-margin-reset');
  padding: map-get($vui-core, 'vui-padding-reset');
}

a {
  text-decoration: none;
}

p {
  font-size: map-get($vui-core, 'vui-paragraph-font-size');
  &:not(:last-child) {
    margin: map-get($vui-core, 'vui-paragraph-margin');
  }
  small {
    font-size: map-get($vui-core, 'vui-paragraph-small-font-size');
  }
}

ol, ul {
  padding: 1rem 0 0 0.813rem;
  margin-left: .450rem;
  li {
    font-size: inherit;
    margin: 0 0 .75rem 0;
  }
}

small {
  color: map-get($vui-core, 'vui-heading-small-font-color');
}

blockquote {
  position: relative;
  font-variant: italic;
  padding: 1rem 0 1rem 0;
  &::before {
    content: '';
    width: 2rem;
    height: 0.125rem;
    background: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
  }
}

video {
  background: #fafafa;
}
