//include ../_mixins.jade
doctype html
html
  head
    include ../_includes/_head.jade
    block title
      title Default title
  body(class="vui-modal-open")
    include ../_includes/_preloader.jade
    include ../_includes/_header.jade
    block content
    include ../_includes/_footer.jade
    script(src='//cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.min.js')
    script(src='/assets/js/bundle.min.js')
